.objects {
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(0.25);
}

body {
    background-image: url('images/beach_bgd.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

#site {
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Use viewport height for full height */
}

.counterbox {
    position: absolute;
    left: 50%;
    top: 10%;
    align-items: center;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
}

button {
    background-color: aquamarine;
    padding: 25px;
    z-index: 1;
    position: absolute;
    /* transform: translate(-50%, -50%); */
}

@media (max-width: 768px) {
    button {
        position: relative; /* Change to relative positioning for smaller screens */
        transform: none;
        /* Center horizontally using margin */
        text-align: center; /* Center button content */
    }}



